<ion-nav-bar class="app-bar">
  <ion-nav-buttons side="left">
    <button class="button ion-compose button-icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button ion-chatboxes button-icon"></button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="menuContent"></ion-nav-view>

<ion-tabs class="tabs-striped tabs-balanced tabs-icon-only">

  <ion-tab title="Home" icon="ion-home" href="#/app/feed"></ion-tab>
  <ion-tab title="Browse" icon="ion-search" href="#/app/browse"></ion-tab>
  <!-- Search, addFollower, Categories, -->
  <ion-tab title="Action" icon="ion-leaf"  href="#/create-action"></ion-tab>
  <ion-tab title="People" icon="ion-person-stalker" href="#/app/people"></ion-tab>
  <ion-tab title="Settings" icon="ion-person" href="#/app/profile/0/posts"></ion-tab>

</ion-tabs>